* {
    font-family: "Press Start 2P", serif;
    background-image: url('https://t4.ftcdn.net/jpg/03/27/22/31/360_F_327223167_6s3RXZaysJMMi0AI54z3I4ojBEhhfTdc.jpg');
    color: aqua;
}

.container {
    display: grid;
    grid-template-columns: 320px 200px;
    justify-content: center;
    margin-top: 100px;

}

/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    gap: 20;

} */

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5%;
}

#board {
    border: 2px solid black;
}

.play-btn {
    padding: 15px 30px;
    font-size: 20px;
    /* background-color: rgb(32, 103, 218); */
    background: linear-gradient(to right, #fe881c, #fdce1c 50%, #fe881c);
    cursor: pointer;
}

.play-btn:hover {
    background-position: right center;
}